# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
media/

# Static
staticfiles/

# Logs
*.log

# Environment
.env
.env.*

# VS Code
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db