aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
defusedxml==0.7.1
Django==6.0.5
django-cors-headers==4.9.0
django-ratelimit==4.1.0
djangorestframework==3.17.1
frozenlist==1.8.0
gunicorn==26.0.0
httpagentparser==1.9.9
idna==3.13
multidict==6.7.1
mysqlclient==2.2.8
oauthlib==3.3.1
packaging==26.2
propcache==0.4.1
pycparser==3.0
pycryptodomex==3.23.0
PyJWT==2.12.1
python3-openid==3.2.0
requests==2.33.1
requests-oauthlib==2.0.0
social-auth-app-django==5.9.0
social-auth-core==4.9.1
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
