{% extends "faq.html" %}

{% block faq_content %}
<h2 class="faq-question-title">Как пользоваться донат правами?</h2>

<h3>Открыть админь панель</h3>
<ol>
  <li>Нажмите на латинскую букву "M".</li>
  <li>Если админ панель не открылась, проверьте настройки игры и назначения клавиш.</li>
</ol>

<h3>Изменение роли</h3>
<ol>
  <li>Зайдите в <strong>Role Management</strong>.</li>
  <li>Выберите свой никнейм.</li>
  <li>Выберите роль, за которую хотите играть.</li>
  <li>Нажмите <strong>SET CLASS</strong>.</li>
</ol>

<h3>Выдача предметов</h3>
<ol>
  <li>Зайдите в <strong>Inventory</strong>.</li>
  <li>Выберите свой никнейм.</li>
  <li>Выберите предмет.</li>
  <li>Нажмите <strong>Grant item</strong>.</li>
</ol>

<h3>Выдача эффектов</h3>
<ol>
  <li>Зайдите в <strong>Status effects</strong>.</li>
  <li>Выберите свой никнейм.</li>
  <li>Нажмите на галочку.</li>
</ol>

<h3>Вызов отряда МОГ</h3>
<ol>
  <li>Зайдите в консоль администратора.</li>
  <li>Пропишите команду:<br>
    <code>wave spawn (ci или ntf)</code>
  </li>
</ol>

<h3>Изменение размера</h3>
<ol>
  <li>Зайдите в консоль администратора.</li>
  <li>Пропишите команду:<br>
    <code>size me 0.7 0.7 0.7</code>
  </li>
</ol>

<h3>Изменение цвета префикса</h3>
<ol>
  <li>Зайдите в консоль администратора.</li>
  <li>Пропишите команду:<br>
    <code>colortag set &lt;название цветов&gt;</code>
  </li>
</ol>
<p>Пример: <code>colortag set pink red deep_pink</code></p>

{% endblock %}