{% extends "base.html" %}
{% load static %}

{% block title %}Контакты | Pranik{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/seller.css' %}"> 
{% endblock %}

{% block content %}
<div class="text-white p-4 rounded-4 shadow-sm text-center ">
    <h4 class="fw-bold">Сселер</h4>
    <div class="reseller-icons">
        <img src="{% static 'images/mir.svg' %}" alt="Mir">
        <img src="{% static 'images/visa.svg' %}" alt="Visa">
        <img src="{% static 'images/yoomoney.svg' %}" alt="YooMoney">
        <img src="{% static 'images/kaspi.svg' %}" alt="Kaspi">
        <img src="{% static 'images/halyk.svg' %}" alt="Halyk">
    </div>
</div>

<h2 class="text-center text-light">Ссылки:</h2>

<div class="d-flex justify-content-center gap-3 my-3">
    <a href="https://discord.gg/PXvvtx4AYe" target="_blank" class="social-btn box" id="discord">
        <img src="{% static 'images/discord.webp' %}" width="24" class="me-2"> Discord
    </a>
    <a href="https://t.me/ui_2506" target="_blank" class="social-btn box" id="telegram">
        <img src="{% static 'images/telegram.webp' %}" width="24" class="me-2"> Telegram
    </a>
</div>

<h2 class="text-center text-light">Контакты:</h2>

<div class="container">
    <div class="server-box box">
        <span class="server-name">Discord</span> 
        <span class="server-ip" id="server-ar discord">ui_2506</span>
        <button class="copy-btn" data-clipboard-target="#server-ar">
            <img src="{% static 'images/copy.webp' %}" width="24">
        </button>
    </div>

    <div class="server-box box">
        <span class="server-name">Telegram</span> 
        <span class="server-ip" id="server-nr">t.me/ui_2506</span>
        <button class="copy-btn" data-clipboard-target="#server-nr">
            <img src="{% static 'images/copy.webp' %}" width="24">
        </button>
    </div>
</div>
{% endblock %}