{% extends "base.html" %}
{% load static %}

{% block title %}Выдача доната | Pranik{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/admin_give_present.css' %}"> 
{% endblock %}

{% block content %}
<div class="container py-5">
  <h3 class="section-title">Выдача подарка</h3>

  <div class="form-card">
    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label for="donateSelect" class="form-label">Выберите донат</label>
        <select id="donateSelect" name="donate_id" class="form-select" required>
          <option value="" disabled selected>-- Выберите донат --</option>
          {% for donate in donates %}
            <option value="{{ donate.id }}">{{ donate.name }} ({{ donate.server.name }})</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="playerIdInput" class="form-label">ID игрока (SteamID)</label>
        <input type="text" id="playerIdInput" name="player_id" class="form-control" placeholder="Например: 7656119..." required>
      </div>

      <div class="mb-3 row">
          <label for="timeValue" class="form-label">Срок действия</label>
          <input type="number" id="timeValue" name="days" class="form-control" min="1" placeholder="количество дней" required>
      </div>

      <div class="mb-3">
        <label for="commentInput" class="form-label">Комментарий</label>
        <input type="text" id="commentInput" name="comment" class="form-control" placeholder="Подарочееек :3" required>
      </div>

      <div class="mt-4 text-center">
        <button type="submit" class="btn-red">✅ Выдать донат</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}