{% extends "base.html" %}
{% load static %}

{% block title %}Транзакций | Pranik{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/admin_transactions.css' %}"> 
{% endblock %}

{% block content %}
<div class="box text-white mt-4">
        <h2 class="mb-4 text-light">История транзакций</h2>

        <h6 class="mb-3 total-sum">Общая заработанная сумма: <span>{{ total_replenishment }} ₽</span></h4>
        <h6 class="mb-3 total-month-sum">Заработано за месяц: <span>{{ total_month_replenishment }} ₽</span></h4>
        <h6 class="mb-3 total-week-sum">Заработано за неделю: <span>{{ total_week_replenishment }} ₽</span></h4>
        <h6 class="mb-4 total-day-sum">Заработано за день: <span>{{ total_day_replenishment }} ₽</span></h4>

        {% if transactions %}
            <ul class="transaction-list">
                {% for transaction in transactions %}
                    <li>
                        {% if transaction.type == 'replenishment' %}
                            <span class="fw-bold" style="color: var(--green-color);">+ {{ transaction.amount }} ₽</span><br>
                            <span class="text-light">
                                <a href="{% url 'admin_user_profile' transaction.user.user_id|default:'unknown' %}">{{ transaction.user.user_id }}</a> - {{ transaction.reason }}
                            </span>
                        {% else %}
                            <span class="fw-bold" style="color: var(--orange-color);">- {{ transaction.amount }} ₽</span><br>
                            <span class="text-light">
                                <a href="{% url 'admin_user_profile' transaction.user.user_id|default:'unknown' %}">{{ transaction.user.user_id }}</a> - {{ transaction.reason }}
                            </span>
                        {% endif %}
    
                        <br>
                        <small class="text-light">{{ transaction.created_at|date:"d.m.Y H:i" }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-light">У вас нет операций</p>
        {% endif %}
    </div>

    <div class="pagination justify-content-center">
        {% if transactions.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">⏪</a>
            <a href="?page={{ transactions.previous_page_number }}" class="btn btn-outline-primary">◀️</a>
        {% endif %}

        <span class="mx-3">Страница {{ transactions.number }} из {{ transactions.paginator.num_pages }}</span>

        {% if transactions.has_next %}
            <a href="?page={{ transactions.next_page_number }}" class="btn btn-outline-primary">▶️</a>
            <a href="?page={{ transactions.paginator.num_pages }}" class="btn btn-outline-primary">⏩</a>
        {% endif %}
    </div>
</div>
{% endblock %}