{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Магазин | Pranik{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/server_list.css' %}"> 
{% endblock %}

{% block content %}
<div class="server-container">
  <div class="text-center mb-5">
    <h2 class="fw-bold text-light">ВЫБЕРИТЕ СЕРВЕР</h2>
    <p class="text-white-50">Выберите сервер, чтобы перейти к покупке привилегий</p>
  </div>

  {% for server in servers %}
    <div class="server-card" data-server-id="{{ server.scpsl_id }}">
      <div class="server-left">
        <div class="server-name">
          {{ server.server_name|unitycolor|safe }}
        </div>
      </div>

      <a href="{% url 'shop_donate_list' server.server_id %}" class="btn-shop">
        Перейти в магазин
      </a>
    </div>
  {% empty %}
    <p class="text-center text-light fs-5">Нет доступных серверов.</p>
  {% endfor %}
</div>
{% endblock %}