{% extends "base.html" %}
{% load static %}

{% block title %}Профиль | Pranik{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/profile.css' %}"> 
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/profile.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container py-5">

  <!-- профиль -->
  <div class="profile-header">
    <img src="{{ user.avatar }}" class="rounded-circle" width="120">
    <h2>{{ user.nickname }}</h2>
    <p class="text-muted">Steam ID: {{ user.user_id }}</p>
    <p>Баланс: <span class="badge badge-warning">{{ user.balance }} ₽</span></p>
  </div>

  <!-- инфо -->
  <div class="row g-4 mb-5">
    <div class="col-md-6">
      <div class="profile-card">
        <h4 class="text-danger">Информация</h4>
        <p><b>Ник:</b> {{ user.nickname }}</p>
        <p><b>Steam ID:</b> {{ user.user_id }}</p>
        <p><b>Баланс:</b> {{ user.balance }} ₽</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="profile-card">
        <h4 class="text-danger">Настройки</h4>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="hide_me" value="1">
          <button class="btn btn-outline-light w-100">
            {% if not user.is_hidden %}
              Скрыть с топа донатеров
            {% else %}
              Показать в топе донатеров
            {% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- tabs -->
  <div class="tabs-container">
    <button class="tab-btn active" data-tab="donates">Донаты</button>
    <button class="tab-btn" data-tab="presents">Подарки</button>
    <button class="tab-btn" data-tab="punishments">Наказания</button>
    <button class="tab-btn" data-tab="transactions">Транзакции</button>
  </div>

  <!-- донаты -->
  <div class="tab-content active" id="donates">
      <div class="row g-4">
        {% for donate in donates %}
          <div class="col-md-6">
            <div class="donate-card">
              <h5>{{ donate.donate.title }}</h5>
              <p><b>Сервер:</b> {{ donate.donate.server.name }}</p>
              <p><b>Куплено:</b> {{ donate.date_purchased|date:"d.m.Y H:i" }}</p>
              <p><b>До:</b> {{ donate.expires_at|date:"d.m.Y H:i" }}</p>

              {% if donate.is_disabled %}
                {% if donate.issuer %}
                  <p>{{ donate.note }}</p>
                  
                  <span class="badge badge-danger">Заблокировано администратором</span>
                  <br>
                  <button type="button" class="mt-2 btn btn-outline-light" disabled>Деактивировать</button>     
                {% else %}
                  <span class="badge badge-danger">Деактивирован</span>
                  <br>
                  <button type="button" class="mt-2 btn btn-outline-light" disabled>Деактивировать</button>          
                {% endif %}
              {% elif donate.is_active %}
                <span class="badge badge-success">Активен</span>

                <form method="POST" class="deactivate-form mt-2">
                  {% csrf_token %}
                  <input type="hidden" name="deactivate_donate_id" value="{{ donate.id }}">
                  <button type="button" class="btn btn-outline-light open-modal">Деактивировать</button>
                </form>
              {% else %}
                <span class="badge badge-warning">Срок действия истек</span>
              {% endif %}
            </div>
          </div>
        {% empty %}
          <p class="text-center">У вас нет донатов... :(</p>
        {% endfor %}
      </div>
  </div>

  <!-- подарки -->
  <div class="tab-content" id="presents">
    <div class="row g-4">
      {% for present in presents %}
        <div class="col-md-6">
          <div class="donate-card d-flex flex-column justify-content-between p-3">

            <div class="mb-3">
              <h5 class="fw-bold">🎁 {{ present.donate.title }}</h5>

              <p class="mb-1"><b>Дата:</b> {{ present.date_purchased|date:"d.m.Y H:i" }}</p>
              <p class="mb-1"><b>Длительность:</b> {{ present.days }} дн.</p>

              {% if present.comment %}
                <div class="thought-bubble">
                  {{ present.comment }}
                </div>
              {% endif %}

              <!-- donor info -->
              <div class="d-flex align-items-center mb-2">
                <img src="{{ present.donor.avatar }}"
                    class="rounded-circle me-2"
                    style="width: 40px; height: 40px; object-fit: cover;">
                <span class="fw-semibold">{{ present.donor.nickname }}</span>
              </div>

              {% if present.is_used %}
                <span class="badge badge-success">Вы уже приняли подарок</span>
              {% else %}
                <span class="badge badge-warning">Ожидает решения</span>
              {% endif %}
            </div>

            {% if not present.is_used %}
              <div class="d-flex gap-2">
                <form method="POST" class="flex-fill">
                  {% csrf_token %}
                  <input type="hidden" name="accept_present_id" value="{{ present.id }}">
                  <button class="btn btn-accept w-100">💕 Принять</button>
                </form>

                <form method="POST" class="flex-fill">
                  {% csrf_token %}
                  <input type="hidden" name="cancel_present_id" value="{{ present.id }}">
                  <button class="btn btn-decline w-100">🚫 Отказаться</button>
                </form>
              </div>
            {% endif %}

          </div>
        </div>
      {% empty %}
        <p class="text-center">У вас нет подарков... :(</p>
      {% endfor %}
    </div>
  </div>

  <div class="tab-content" id="punishments">

    {% if punishments %}
      {% for punishment in punishments %}
        <div class="ban-card">

          {% if punishment.type == 'ban' %}
            <h5 class="text-danger fw-bold">{{ punishment.server.name }} BAN</h5>
          {% else %}
            <h5 class="text-danger fw-bold">{{ punishment.server.name }} MUTE</h5>
          {% endif %}

          <p>{{ punishment.reason }}</p>

          <small>
            {{ punishment.created_at|date:"d.m.Y H:i" }} → {{ punishment.expires_at|date:"d.m.Y H:i" }} | id: {{ punishment.id }}
          </small>

          <br>

          {% if punishment.is_revoked %}
            <span class="badge badge-success">Ограничение снято</span>

          {% elif punishment.is_active %}
            <br>
            {% if punishment.is_buyable %}
              <a href="{% url 'unban' punishment.id %}" class="btn-red">
                Купить разбан / мьют за {{ punishment.price }} ₽
              </a>
            {% else %}
              <a href="#" class="btn-red">
                Покупка снятия не возможна
              </a>
            {% endif %}

          {% else %}
            <span class="badge badge-success">Срок ограничения истёк</span>
          {% endif %}

        </div>
      {% endfor %}
    {% else %}
      <p class="text-center">У вас нет банов. Молодец! :3</p>
    {% endif %}
  </div>

  <div class="tab-content" id="transactions">
    {% for t in transactions %}
      <div class="transaction-card">
        {% if t.type == 'replenishment' %}
          <span class="text-success">+ {{ t.amount }} ₽</span>
        {% else %}
          <span class="text-danger">- {{ t.amount }} ₽</span>
        {% endif %}
        <p>{{ t.reason }}</p>
        <small>{{ t.created_at|date:"d.m.Y H:i" }} | id: {{ t.id }}</small>
      </div>
    {% empty %}
      <p class="text-center">Транзакции отсутствуют...</p>
    {% endfor %}
  </div>

</div>
{% endblock %}